html,body {
	height: 98%;
	/*margin: 0;*/

}
li {
	list-style-type: none;
	background: #f00;
	width: 200px;
	min-height: 50px;
	float: left;
}
.graph{
	height: 100%;
	background: #eee;
}
.graph>.back-layer, .graph>.line-layer {
	float: left;
}

/*.net-element dl {
	width: 100%;
}
.net-element dt{
	float:left;
	width: 80px;
	margin: 0 auto;
	z-index: 1000;
}
.net-element dd {
	width: 2px;
	background: #cacaca;
	position: absolute;
	top: 60px;
	bottom: 5px;
	margin: 10px 34px;
	float: left;
}

.net-element span {
	width: 32px;
	height: 32px;
	display: block;
}

.icon-enodeb span {
	background: url(icons/eNodeB.png) no-repeat;
}
.icon-hss span {
	background: url(icons/HSS.png) no-repeat;
}
.icon-mme span {
	background: url(icons/MME.png) no-repeat;
}
.icon-msc span {
	background: url(icons/MSC.png) no-repeat;
}
.icon-pgw span {
	background: url(icons/PGW.png) no-repeat;
}
.icon-default span {
	background: url(icons/default.png) no-repeat;
}
.icon-ue span {
	background: url(icons/ue.jpg) no-repeat;
}*/
