.graph {
	height: 100%;
	/*background: #eee;*/
}
.graph>.back-layer, .graph>.line-layer {
	float: left;
}
.graph table, .graph tr, .graph td {
	text-align: center;
}
.graph table span {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
}
.graph td {
	width: 120px;
	padding-right: 120px;
}
.graph table i {
	display: block;
	width: 2px;
	background: #cacaca;
	margin: 0 auto;
	height: 1000px;
}
.graph .line-layer {
	float: left;
	position: absolute;
	top: 140px;
	right: 10px;
	bottom: 1px;
	left: 1px;
	overflow: auto;
	/*background: #ccc;*/
}
.graph .line-box {
	border-radius: 5px;
	background: #ddd;
	width: 230px;
	cursor: pointer;
	text-align: center;
	margin: 8px 8px 8px 78px;
}
.graph .line {
	border-top: 1px #f00 solid;
	height: 0px;
}
.graph .triangle {
	margin-top: -6px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.graph .left {
	border-right: 12px solid red;
}
.graph .line-active {
	border-top-width: 2px;
}
.graph .dotted {
	border-style: dotted;
}

/*定义图标*/
.icon-default {
	background: url(icons/default.png);
}
.icon-enodeb {
	background: url(icons/eNodeB.png);
}
.icon-hss {
	background: url(icons/HSS.png);
}
.icon-mme {
	background: url(icons/MME.png);
}
.icon-msc {
	background: url(icons/MSC.png);
}
.icon-pgw {
	background: url(icons/PGW.png);
}
.icon-ue {
	background: url(icons/ue.jpg);
}
